@charset "utf-8";

/* 레이아웃 */
#mNav {display: none; position: absolute; top: 10px; right: 14px;}
#header {width: 100%; background: #fff;  border-bottom: 1px solid #c6c6c6;}
#banner {position: relative;}
#movie {background: #f8f8f8;}
#event {}
#opening {background-color: #503396; width: 100%;}
#new {}
#help {}
#footer {background-color: #211f1f;}


/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0);}

/* 로우 영역 */
.row {padding: 0 28px;}

/* 모바일 메뉴 */
.ham {display: block; width: 25px; height: 10px; background: rgba(0,0,0,0); padding: 15px 10px 10px 10px;}
.ham span {position: relative; display: block; width: 25px; height: 4px; background: #39106a;}
.ham span::before {
    content: '';
    width: 25px; height: 4px;
    background: #39106a;
    position: absolute; left: 0; bottom: -7px;
}
.ham span::after {
    content: '';
    width: 25px; height: 4px;
    background: #39106a;
    position: absolute; left: 0; top: -7px;
}

/* 헤더 영역 */
.header {}
.header h1 {float: left;}
.header h1 em {padding: 15px 8px 3px 0; display: inline-block;}
.header h1 em img {width: 155px;}
.header h1 strong {display: block; position: absolute; left: 194px; top: 23px;}
.header h1 strong img {width: 126px;}

.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav li {float: left; width: 103px; text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10;}
.banner_menu a {color: #fff; font-size: 16px; transition: all .3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 7px;}
.banner_menu .bm_left li {display: inline; margin-right: 30px;}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total i {margin-right: 5px;}
.banner_menu .bm_left li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all .3s;}
.banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000; color: #000;}

.banner_menu li {position: relative;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 2px;}

.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {display: inline-block; width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; border: 1px solid #fff;}
.banner_menu .bm_right li.purple {margin-right: 0px;}
.banner_menu .bm_right li.purple a {display: inline-block; width: 80px; background-color: #3a036a; color: #fff; padding: 7px 30px 9px 30px; border: 1px solid #6e40c4;}


/* 슬라이드 */
.slider {width: 100%; height: 600px;}
.slider .ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/swiper02.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/swiper03.jpg) no-repeat center center; background-size: cover;}
.slider .swiper-slide {}
.slider .swiper-slide h2 {position: relative; display: inline-block; font-size: 62px; line-height: 70px; color: #fff; margin-top: 200px;}
.slider .swiper-slide h2:after {content: ''; width: 100%; height: 1px; background: rgba(255,255,255,0.3); position: absolute; left: 0; bottom: -35px;}
.slider .swiper-slide h2 em {display: block; font-size: 59px; font-weight: 100;}
.slider .swiper-slide p {font-size: 27px; color: #fff; padding-top: 55px;}

/* 무비 */
.movie {padding: 100px 0;}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 848px; margin: 0 auto;}
.movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title li.active a {background: #666; color: #fff;}
.movie_chart {overflow: hidden;}
.movie_chart > div > div > div {float: left; width: 292px; margin-right: 18px;}
.movie_chart > div > div > div:last-child {margin-right: 0;}
.movie_chart > div > div > div .poster {position: relative;}
.movie_chart > div > div > div .poster img {display: block;}
.movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; line-height: 50px; background-color: #38116a; text-align: center; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5);}
.movie_chart > div > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,0.5);}
.movie_chart > div > div > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.movie_chart > div > div > div .poster .mx span {width: 103px; height: 25px; display: block;}
.movie_chart > div > div > div .poster .mx .m {background-position: 0 -75px}
.movie_chart > div > div > div .poster .mx .b {background-position: 0 -100px}
.movie_chart > div > div > div .info {background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie_chart > div > div > div .info h3 {color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.movie_chart > div > div .info h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -2px;}
.movie_chart > div > div > div .info h3 span.all {background-position: -87px -125px;}
.movie_chart > div > div > div .info h3 span.a12 {background-position: 0px -125px;}
.movie_chart > div > div > div .info h3 span.a15 {background-position: -29px -125px;}
.movie_chart > div > div > div .info h3 span.a19 {background-position: -58px -125px;}
.movie_chart > div > div > div .info .info_btn {overflow: hidden;}
.movie_chart > div > div > div .info .info_btn a {float: left; width: 47.5%; margin-right: 5%; text-align: center; background: #f2f2f2; font-size: 18px; padding: 15px 0; box-sizing: border-box;}
.movie_chart > div > div > div .info .info_btn a:last-child {margin-right: 0;}
.movie_chart > div > div > div .info .info_btn a:hover {background: #503396; color: #fff;}
.movie_chart > div > div > div .info .info_btn a:last-child {margin-right: 0;}

/* 이벤트 */
.event {overflow: hidden; padding: 100px 0;}
.event img {display: block;}
.event div > img {transition: all .3s ease;}
.event div:hover > img {filter: saturate(80%) grayscale(20%) opacity(80%);}
.event h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.event .event_left {overflow: hidden; float: left; width: 66%; margin-right: 2%;}
.event .event_left .event-box1 {float: left; width: 50%;}
.event .event_left .event-box2 {float: left; width: 50%;}
.event .event_right {float: left; width: 32%;}

/* 오프닝 */
.opening {overflow: hidden; padding: 100px 0;}
.opening .open_tit {float: left; width: 26%;}
.opening .open_tit h2 {position: relative; color: #fff; text-transform: uppercase; font-size: 30px; font-weight: 500; line-height: 35px;}
.opening .open_tit h2:before {position: absolute; bottom: -30px; left: 0; content: ''; width: 20%; height: 1px; background: #fff;}
.opening .open_tit p {font-size: 16px; margin-top: 50px; color: #fff; letter-spacing: -0.5px;}
.opening .open_cont {float: left; width: 74%;}
.opening .open_cont .open {position: relative; overflow: hidden; float: left; text-align: center; width: 205px; height: 205px; background: url(../img/bg02.jpg) no-repeat bottom center; background-size: cover; margin-right: 6%; box-sizing: border-box; border-radius: 50%; z-index: 20; box-shadow: 5px 5px 8px rgba(0,0,0,0.3); transition: background .5s ease;}
.opening .open_cont .open:last-child {margin-right: 0;}
.opening .open_cont .open:before {position: absolute; content: ''; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.3); border-radius: 50%; z-index:-1;}
.opening .open_cont .open a {display: block; width: 100%; height: 100%; padding: 20% 0;}
.opening .open_cont .open a h3 {display: inline-block; font-size: 14px; color: #fff; background: #01738b; padding: 5px 10px; margin-bottom: 5%;}
.opening .open_cont .open a p {color: #fff;}
.opening .open_cont .open a p strong {display: block; font-size: 24px; margin-bottom: 5%;}
.opening .open_cont .open a p em {display: block;}
.opening .open_cont .open:hover {background: #fff;}
.opening .open_cont .open:hover:before {display: none;}
.opening .open_cont .open:hover a p {color: #01738b;}

/* 새로운 영화 */
.new {padding: 100px 0; position: relative;}
.new h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.new .new_left {position: relative; margin-right: 423px; height: 500px; background: #ccc url(../img/new02.jpg) center center; background-size: cover;}
.new .new_left .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px; cursor: pointer;}
.new .new_left .play .st0 {fill: #fff; opacity: 0.3}
.new .new_left .play .st1 {fill: #fff;}

.new .new_right {position: absolute; right: 0; top: 165px; width: 400px; height: 500px; background: #f0f0f0; padding: 3%; box-sizing: border-box;}
.new .new_right h3 {font-size: 27px;}
.new .new_right .new_engtit {font-size: 16px; color: #4e4e4e;}

.new .new_right .star {margin: 10px 0;}
.new .new_right .star span {width: 20px; height: 20px; display: inline-block; vertical-align: -4px;}
.new .new_right .star strong {font-size: 16px;}
.new .new_right .star span .icon {}
.new .new_right .star .star1 {background-position: -394px 0;}
.new .new_right .star .star2 {background-position: -413px 0;}

.new .new_right .summary {}
.new .new_right .summary span {position: relative; font-size: 14px;  margin-right: 8px;}
.new .new_right .summary span em {font-size: 12px; color: #777;}
.new .new_right .summary .sum {display: block;}
.new .new_right .summary .sum1 span:first-child:before {position: absolute; content: ''; width: 2px; height: 12px; right: -2px; top: 5px; background: #9f8ac0;}

.new .new_right .new_desc {margin: 10px 0 15px 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5;}
.new .new_right .new_desc strong {display: block; font-size: 15px; font-weight: 500; margin-bottom: 5px;}
.new .new_right .new_desc p {font-size: 14px;}

.new .new_right .select {width: 100%;}
.new .new_right .select .input {}
.new .new_right .select .input input {width: 100%; height: 35px; margin-bottom: 2%; padding: 0 5%; color: #fff; font-size: 15px; background: #444; border: 0; color-scheme: dark; box-sizing: border-box;}
.new .new_right .select .input input::placeholder {color: #fff;}

.new .new_right .select .input_btn {overflow: hidden; text-align: center; margin-top: 2%;}
.new .new_right .select .input_btn a {float: left; font-size: 14px; margin-right: 2%; background: #fff; color: #503396; width: 49%; padding: 3% 0; border: 1px solid #503396; box-sizing: border-box;}
.new .new_right .select .input_btn a:last-child {margin-right: 0; background: #503396; color: #fff;}

/* help */
.help {overflow: hidden; padding-top: 5%; padding-bottom: 200px;}
.help article {float: left; width: 32%; height: 350px; margin-right: 2%;}
.help article > div {border: 1px solid #dbdbdb; height: 350px;}
.help article.help_box3 {margin-right: 0;}
.help article.help_box3 > div {border: 0; height: 386px;}
.help article h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}


/* 공지사항 */
.notice {position: relative; padding: 17px;}
.notice ul {overflow: hidden;}
.notice ul li {float: left; text-align: center; margin-right: -1px;}
.notice ul li a {border: 1px solid #dbdbdb; font-size: 15px; color: #666; display: block; width: 80px; padding: 10px 20px; background-color: #f5f5f5;}
.notice ul li.active a {background-color: #fff;}
.notice ul li ul {overflow: hidden; position: absolute; left: 17px; top: 70px; width: 90%;}
.notice ul li ul li {text-align: left; width: 100%; box-sizing: border-box; padding: 17px; border-bottom: 1px solid #dbdbdb;}
.notice ul li ul li:last-child {border-bottom: 0;}
.notice ul li ul li dt em {color: #999;}
.notice ul li ul li dt .bar {position: relative; padding-right: 10px;}
.notice ul li ul li dt .bar:after {content:''; position: absolute; right: 4px; top: 5px; width: 1px; height: 10px; background: #999;}
.notice ul li ul li dd {color: #777; padding-top: 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 할인카드 */
.card {padding: 17px;}
.card ul {}
.card ul li {position: relative; border: 1px solid #d7d7d7; padding: 17px; margin-bottom: 17px; min-height: 102px; box-sizing: border-box;}
.card ul li span {position: absolute; left: 17px; top: 17px;}
.card ul li span img {width: 105px;}
.card ul li strong {display: block; font-size: 18px; padding-left: 120px; color: #777;}
.card ul li em {display: block; font-size: 14px; padding-left: 120px; color: #777; font-weight: 300;}

/* 고객센터 */
.service {overflow: hidden;}
.service li {float: left; width: 50%; height: 193px; box-sizing: border-box; border: 1px solid #d7d7d7; text-align: center;}
.service li a {}
.service li a span {display: block; width: 120px; height: 120px; margin: 20px auto 0 auto; overflow: hidden;}
.service li a strong {color: #666; font-size: 18px; font-weight: 500;}
.service li:nth-child(1) {border-right: 0; border-bottom: 0;}
.service li:nth-child(2) {border-bottom: 0;}
.service li:nth-child(3) {border-right: 0;}

/* 푸터 */
.footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block; margin-left: 4px;}
.footer_sns li a {display: block; width: 36px; height: 36px;}
.footer_sns li.s1 {background-position: 0 -375px;}
.footer_sns li.s2 {background-position: -36px -375px;}
.footer_sns li.s3 {background-position: -72px -375px;}
.footer_sns li.s4 {background-position: -108px -375px;}
.footer_sns li.s5 {background-position: -144px -375px;}
.footer_sns li.s1:hover {background-position: 0 -411px;}
.footer_sns li.s2:hover {background-position: -36px -411px;}
.footer_sns li.s3:hover {background-position: -72px -411px;}
.footer_sns li.s4:hover {background-position: -108px -411px;}
.footer_sns li.s5:hover {background-position: -144px -411px;}
.footer_sns .tel {text-align: right; padding-top: 5px;}
.footer_sns .tel a {color: #8f8f8f; font-size: 21px;}
.footer_sns .tel a em {color: #fff;}

.footer_sns tel {}
.footer_info {padding: 50px 0; width: 80%;}
.footer_info img {width: 150px;}
.footer_info ul {padding: 15px 0;}
.footer_info li {position: relative; display: inline; padding-right: 14px; white-space: nowrap;}
.footer_info li:after {content: ''; position: absolute; right: 5px; top: 7px; width: 1px; height: 8px; background-color: #fff; opacity: .5;}
.footer_info li:last-child:after {display:none;}
.footer_info li a {color: #8f8f8f;}
.footer_info li:nth-child(7) a {font-weight: 700;}
.footer_info address p {color: #8f8f8f;}
.footer_info address p span {position: relative; margin-right: 5px;}
.footer_info address p span:after {position: absolute; right: -6px; top: 9px; content: ''; width: 2px; height: 2px; background-color: #fff; opacity: .5;}

/* 트레일러 */
.overlay {background: rgba(0, 0, 0, .92); display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 10000}
.modal {position: absolute}
.modal_close {
    background: url(../img/close.svg) no-repeat; background-size: 32px 32px; 
    border: 0; color: transparent; 
    display: block; width: 32px; height: 32px; overflow: hidden;
    position: absolute; top: 24px; right: 24px; text-indent: 100%;
}
body.modal_on {overflow: hidden;}

/* 미디어 쿼리 */
@media (max-width: 1290px){
    .container {width: 100%;}
    .header .nav li {width: 93px;}
    .header .nav li a {font-size: 15px; padding: 17px 10px;}
    .header h1 em {padding: 11px 8px 5px 0;}
    .header h1 strong {top: 19px;}
    
    .swiper-button-next:after, .swiper-button-prev:after {display: none;}
    .movie_chart > div > div > div {border: 0;}
    .movie_chart > div > div > div .info {border: 1px solid #d9d9d9; border-top: 0; box-sizing: border-box;}
}


@media (max-width: 1024px){
    #mNav {display: block;}
    .header .nav {display: none;}
    .row {padding: 0 24px;}
    .header h1 {float: none; text-align: center;}
    .header h1 strong {left: 24px;}
    .banner_menu .bm_left ul {display: none;}
    .banner_menu .bm_right ul:first-child {display: none;}
    
    .opening {padding: 70px 0;}
    .opening .open_tit {width: 100%; float: none; text-align: center;}
    .opening .open_tit h2 {position: relative;}
    .opening .open_tit h2:before {position: absolute; bottom: -10px; left: 40%;}
    .opening .open_tit p {display: block; margin-top: 30px; font-size: 16px; color: #fff;}
    
    .opening .open_cont {width: 100%; text-align: center;}
    .opening .open_cont .open {display: inline-block; text-align: center; width: 21.3333%;  margin: 4% 9% 0 0;}
    .opening .open_cont .open:first-child {margin-left: 9%;}
    .opening .open_cont .open:last-child {margin-right: 9%;}
    
    hr {display: none;}
    
    .card ul li {margin-bottom: 5.5%;}
    .card ul li:last-child {margin-bottom: 17px;}
    .help {padding-bottom: 100px; padding-top: 0;}
    .help article {width: 49%; height: auto;}
    .help article.help_box2 {margin-right: 0;}
    .help article.help_box3 {width: 100%; margin-top: 2%;}
    .help article.help_box3 h3 {position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
    .help article.help_box3 > div {height: auto;}
    .service li {width: 25%; height: auto; border: 0;}
    .service li:nth-child(1) {border-right: 1px solid #d7d7d7;}
    .service li:nth-child(2) {border-right: 1px solid #d7d7d7;}
    .service li:nth-child(3) {border-right: 1px solid #d7d7d7;}
    
}

@media (max-width: 960px){
    .slider {height: 500px;}
    .slider .swiper-slide h2 {margin-top: 170px; font-size: 37px; line-height: 45px;}
    .slider .swiper-slide h2:after {bottom: -15px;}
    .slider .swiper-slide h2 em {font-size: 34px;}
    .slider .swiper-slide p {font-size: 16px; padding-top: 35px;}
    
    .movie_title ul {width: auto;}
    .movie_title li {width: 25%; box-sizing: border-box;}
    
    .opening .open_tit h2:before {width: 20%; left:40%;}
    .opening .open_cont .open a h3 {font-size: 12px;}
    .opening .open_cont .open a p strong {font-size: 20px;}
    
    .opening .open_cont .open a {padding: 20% 0;}
    
    .new .new_left {margin-right: 0px;}
    .new .new_right {position: relative; top: 0; width: 100%; height: auto;}
    .new .new_right .select .input input {width: 100%; padding: 0 1%;}
    .new .new_right .select .input_btn a {margin-right: 2%; width: 49%; padding: 1.5% 0;}
    
    .card ul li {margin-bottom: 17px;}
    
    .help article.help_box3 {width: 100%;}
      
    .footer_sns {position: static; text-align: center; background-color: #352c2c; padding-bottom: 15px;}
    .footer_sns .tel {display: none;}
    .footer_info {width: 100%; text-align: center;} 
}

@media (max-width: 768px){
    body {background: #d9d7e0;}
    
    .header h1 strong {display: none;}
    .header h1 {text-align: left;}
    #mNav {right: 6px;}
    
    .slider .swiper-slide h2 {margin-top: 100px;}
    
    .banner_menu {overflow: visible;}
    .banner_menu .bm_right {position: absolute; left: 24px; top: 280px;}
    
    #movie {background: none;}
    #movie .row {background: #fff; margin: 24px 24px 0 24px; padding: 24px;}
    .movie {padding: 0;}
    .movie .ir_su {position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;}
    .movie_title {margin-bottom: 30px;}
    .movie_title ul {position: relative; padding-bottom: 10px;}
    .movie_title ul:before {content: ''; position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 2px; background: #e1e1e1;}
    .movie_title li {width: auto; border: 0;}
    .movie_title li a {position: relative; font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
    .movie_title li:hover a:before {width: 100%;}
    .movie_title li a:before {content: ''; position: absolute; z-index: 2; left: 0; bottom: -10px; width: 0; height: 2px; background: #666; transition: all .3s ease;}
    .movie_title li.active a {background: none; color: #666;}
    .movie_title li.active a:before {content: ''; position: absolute; z-index: 2; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666;}
    
    #event .row {padding: 24px;}
    .event {padding: 24px; background: #fff;}
    .event h2 {font-size: 24px; font-weight: 700;}
    .event .event_left {width: 100%; margin-right: 0;}
    .event .event_right {display:none;}
    
    .opening {padding: 40px 0;}
    .opening .open_tit h2 {font-size: 24px; line-height: 30px;}
    .opening .open_cont {display: none;}
    
    #new .row {padding: 24px;}
    .new {background: #fff; padding: 24px;}
    .new h2 {font-size: 24px; font-weight: 700; margin-bottom: 20px;}
    .new .new_right {padding: 3% 4%;}
    
    .help {padding-bottom: 24px;}
    .help article {width: 100%; height: auto; margin-right: 0; padding: 24px; background: #fff; box-sizing: border-box;}
    .help article h3 {font-size: 24px; font-weight: 700; margin-bottom: 20px;}
    .help article.help_box1 {}
    .help article.help_box2 {margin-top: 24px;}
    .help article.help_box2 div {height: 340px;}
    .help article.help_box3 {margin-top: 24px;}
    .help article.help_box3 li {margin-top: -20px;}
    .service li:nth-child(1) {border-right: 0;}
    .service li:nth-child(2) {border-right: 0;}
    .service li:nth-child(3) {border-right: 0;}
}

@media (max-width: 600px){
    .banner_menu {top: 16px;}
    .slider {height: 350px;}
    .slider .swiper-slide h2 {margin-top: 85px; font-size: 24px; line-height: 30px;}
    .slider .swiper-slide h2:after {bottom: -5px}
    .slider .swiper-slide h2 em {font-size: 20px;}
    .slider .swiper-slide p {font-size: 14px; padding-top: 25px;}
    
    .banner_menu .bm_right {top: 200px;}
    .banner_menu .bm_right li.white a {font-size: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0,0,0,0.6); border-color: #fff;}
    .banner_menu .bm_right li.purple a {font-size: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0,0,0,0.6); border-color: #fff;}
    
    .swiper-pagination-bullet {width: 13px !important; height: 13px !important;}
    
    #movie .container {}
    #movie .container:after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background:  #d9d7e0;}
    #movie .row {position: relative; margin: 8px 8px 0 8px; padding: 16px; margin-right: 0; padding-right: 0;}
    #movie .row:after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background-color: #fff;}
    .movie .ir_su {font-size: 18px; padding-bottom: 10px;}
    .movie_title {margin-bottom: 20px;}
    .movie_title ul {padding-bottom: 8px;}
    .movie_title li a {font-size: 14px; margin-right: 15px;}
    .movie_title li.active a:before {bottom: -8px;}
    .movie_title li a:before {bottom: -8px;}
    
    .movie_chart {position: relative; z-index: 30;}/* z-index 값을 줄때는 position 값 줘야함*/
    .movie_chart > div > div > div .info {padding: 5px;}
    .movie_chart > div > div > div .info h3 {margin: 5px 0 10px; text-align: center;}
    .movie_chart > div > div > div .info h3 strong {display: block; font-size: 19px; color: #222; font-weight: 300;}
    .movie_chart > div > div .info h3 span {display: none;}
    
    .movie_chart > div > div > div .info .info_btn a {width: 52%; margin-left: 24%; display: block; margin-right: 0; padding: 5px; color: #777; margin-bottom: 5px; box-sizing: border-box; font-size: 14px; background: none; border: 1px solid #ddd;}
    .movie_chart > div > div > div .info .info_btn a:last-child {display: none;}
    
    #event .row {padding: 8px;}
    .event {padding: 16px;}
    .event h2 {font-size: 18px; margin-bottom: 10px;}
    
    .opening .open_tit h2 {font-size: 18px; line-height: 24px;}
    .opening .open_tit p {font-size: 14px;}
    
    #new .row {padding: 8px;}
    .new {padding: 16px;}
    .new h2 {font-size: 18px; margin-bottom: 10px;}
    .new .new_left {height: 300px;}
    .new .new_right h3 {font-size: 22px;}
    .new .new_right .new_engtit {font-size: 14px;}
    
    .new .new_right .star {margin: 5px 0;}
    .new .new_right .star span {width: 18px; height: 18px; vertical-align: -2px;}
    .new .new_right .star strong {font-size: 14px;}
    
    .new .new_right .summary span {font-size: 12px;}
    .new .new_right .new_desc strong {font-size: 13px;}
    .new .new_right .new_desc p {font-size: 12px;}
    .new .new_right .select .input input {font-size: 13px;}
    .new .new_right .select .input_btn a {font-size: 13px;}
    
    #help .row {padding: 8px; padding-top: 0;}
    .help {padding-bottom: 0;}
    .help article h3 {font-size: 20px; margin-bottom: 10px;}
    .help article.help_box2 {margin-top: 8px;}
    .help article.help_box3 {margin-top: 8px; padding: 0; height: 277px; box-sizing: border-box;}
    .help article.help_box3 li {margin-top: 0;}
    .service li {width: 50%; border: 1px solid #dbdbdb; padding-bottom: 20px;}
    .service li a span {width: 70px; height: 70px;}
    .service li:nth-child(1) {border-right: 0; border-bottom: 0;}
    .service li:nth-child(2) {border-bottom: 0; border-right: 1px solid #d7d7d7;}
    .service li:nth-child(3) {border-right: 0;}
}


@media (max-width: 480px){
    .slider {height: 300px;}
    .slider .swiper-slide h2 {margin-top: 65px;}
    .slider .swiper-slide p {padding-top: 15px;}
    .banner_menu .bm_right {top: 170px;}
    
    .opening {padding: 20px 0;}
    
    .card ul li span img {width: 85px;}
    .card ul li strong {padding-left: 100px;}
    .card ul li em {display: none;}
}

@media (max-width: 320px){
    .movie .ir_su {font-size: 16px;}
    .movie_title li a {font-size: 13px;}
}